body{

    background: #808080;
}


p-{ text-align: center;
    font-size: 50px;
    color: #1aae35
}



strong{
    color: #f00;
}


h1 {
    text-align: center;

}

p{
    text-align: justify;

}










